TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_rotated_auth_token_here
# Must be a number your account actually owns
TWILIO_FROM=+1XXXXXXXXXX
# On a trial account this must be a Verified Caller ID
TWILIO_TO=+91XXXXXXXXXX
REQUESTS_CA_BUNDLE=C:\Users\Public\Documents\Python\TwilioMessaging\certs\ca-bundle.pem
SSL_CERT_FILE=C:\Users\Public\Documents\Python\TwilioMessaging\certs\ca-bundle.pem
